body {
  --background: #fafafa;
  --text: #4c4b59;
  --title: #fefcfc;
  --box: #fff;
  --gradient-pink: #d745ff98;
  --gradient-blue: #809cffc4;
  --border: #e6e5ea;
  --text-lighter: #4c4b598e;
}

body[theme='dark'] {
  --background: #181824;
  --text: #c8cae3;
  --title: #fffcff;
  --box: #25273c;
  --gradient-pink: #d220ffa6;
  --gradient-blue: #426afcc0;
  --border: #37394e;
  --text-lighter: #c8cae35e;
}

$background: var(--background);
$text: var(--text);
$title: var(--title);
$box: var(--box);
$gradient-pink: var(--gradient-pink);
$gradient-blue: var(--gradient-blue);
$border: var(--border);
$text-lighter: var(--text-lighter);
$error: rgb(255, 75, 75);
$primary-blue: #4071ce;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background: $background;
  color: $text;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
  transition: 0.2s;
}

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1450px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 1400px) and (max-height: 770px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 11px;
  }
}
