body {
  --background: #fafafa;
  --text: #4c4b59;
  --title: #fefcfc;
  --box: #fff;
  --gradient-pink: #d745ff98;
  --gradient-blue: #809cffc4;
  --border: #e6e5ea;
  --text-lighter: #4c4b5959;
}

body[theme='dark'] {
  --background: #181824;
  --text: #c8cae3;
  --title: #fffcff;
  --box: #25273c;
  --gradient-pink: #d220ffa6;
  --gradient-blue: #426afcc0;
  --border: #37394e;
  --text-lighter: #c8cae35e;
  transition: 0.2s;
}

$background: var(--background);
$text: var(--text);
$title: var(--title);
$box: var(--box);
$gradient-pink: var(--gradient-pink);
$gradient-blue: var(--gradient-blue);
$border: var(--border);
$text-lighter: var(--text-lighter);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background: $background;
  color: $text;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}
