footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: $text;
  font-size: 0.9rem;

  a {
    color: $primary-blue;

    &:hover {
      text-decoration: underline;
    }
  }
}
