.tasks-container {
  margin: -9rem auto 0;
  width: 700px;
  position: relative;
  z-index: 2;

  .new-task {
    width: 100%;
    height: 3.5rem;
    padding: 0 2rem;
    border: none;
    border-radius: 4px;
    caret-color: #4071ce;
    background-color: $box;

    font-size: 1rem;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: $text;
  }

  .task-list {
    width: 100%;
    margin-top: 1.5rem;

    li {
      background: $box;
      height: 3.5rem;
      border-bottom: 1px solid $border;
      padding: 0 1.3rem;
      // transition: border background-color 0.2s ease;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
        // border: none;
      }

      &.dragging {
        background-color: $border;
      }

      div {
        display: flex;
        align-items: center;
      }

      .complete-switch {
        height: 1.3rem;
        width: 1.3rem;
        border: 1px solid $border;
        border-radius: 50%;
        background-color: $box;
        margin-right: 1.3rem;
        cursor: pointer;
        // transition: 0.2s ease;
      }

      .delete-task {
        background: none;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: 0.2s;
      }

      &:hover {
        .delete-task {
          opacity: 1;
        }
      }
    }
    margin-bottom: 4rem;
  }
}
